<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form action="/Contact/Create" method="post">
            <div>
                <div>
                    User Name:
                </div>
                <div>
                    <input name="userName" />
                </div>
            </div>

            <div>
                <div>
                    E-Mail:
                </div>
                <div>
                    <input name="email" />
                </div>
            </div>

            <div>
                <input type="submit" value="Add" />
            </div>
        </form>
    </div>
</body>
</html>
