
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <script src="~/jquery.js"></script>
</head>
<body>
    <div> 
        <a href="@Url.Action("Create")">Create</a>
    </div>
</body>
</html>
