<!DOCTYPE html>
<html ng-app="MyApp">
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <div ng-controller="HomeCtrl">
        <ul>
            <li ng-repeat="contact in contacts">
                <span>{{contact.name}}</span>
            </li>
        </ul>

        <button ng-click="refresh()">Refresh</button>

        <input ng-model="name" /><button ng-click="add()">Add</button>
    </div>

    <script src="angular.js"></script>
    <script>
        angular.module("MyApp", []).controller("HomeCtrl", function ($scope, $http) {
            $scope.refresh = function () {
                loadData();
            }

            $scope.add = function () {
                if (!$scope.name) {
                    alert("Please specify a name");

                    return;
                }

                var contact = {
                    name: $scope.name
                };

                $http.post("/api/contact", contact).then(function (res) {
                    $scope.contacts.push(res.data);
                }).catch(function (res) {
                    alert("ERROR");
                });
            }

            function loadData() {
                $http.get("/api/contact").then(function (res) {
                    $scope.contacts = res.data;
                }).catch(function (res) {
                    alert("ERROR");
                });
            }

            loadData();
        });
    </script>
</body>
</html>
