<h1>Home</h1>

@Html.ActionLink("About", "About")

@section title {
    Home
}

@section scripts{
    <script>
        $(function () {
            //window.location.assign("blabla");
        });
    </script>
}

