<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
        <form action="/Account/Login" method="post">
            User Name: <input name="userName" />

            <br />
            Password: <input name="password" type="password" />

            <br />
            <button>Login</button>
        </form>
    </div>
</body>
</html>
