
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <form method="post" action="/Home/Run">
            <button name="button1">Button 1</button>
            <button name="button2">Button 2</button>
        </form>
    </div>
</body>
</html>
